/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "bootstrap.min.css";


.spacer {
  flex: 1 1 auto;
}
.full-width {
  width: 100%;
}

.f20{
  font-size:20px
}

.width-90 {
  width: 90%;
}

.dialog-600x400{
  height: 400px;
  width: 600px;
}

.dialog-600x600{
  height: 600px;
  width: 600px;
}
.dialog-600x800{
  height: 800px;
  width: 600px;
}

.center {
  text-align: center;
}

.left{
  float: left;
}

.right{
  float: right;
}

.w45{
  width: 45%;
}

.w30{
  width: 30%;
}
app-categories, app-home, app-users, app-user, app-languages, app-category {
  float: right;
  width: 82%;
  border-style: solid;
  border-color: burlywood;
  border-radius: 30px;
  padding: 1em;
  background-color: white;
  opacity: 0.9;
}

app-user {
  height: 74vh;
}

.mat-toolbar {
  background-color: transparent;
}

.mat-table, .mat-paginator {
  background: transparent;
}

body {
  margin: 4%;
}

app-languages .mat-list, app-categories .mat-list {
  overflow-y: auto;
  height: 54vh;
}
app-users .mat-table{
  overflow-y: auto;
  height: 42vh;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #D62929;
}
