mat-nav-list {
  float: left;
  width: 10%;
  height: 80vh;
  padding: 2em;
  background-color: rgba(222,184,135,0.9);
  position: fixed;
  border-radius: 25px;
}

mat-toolbar {
  float: right;
  width: 80%;
}

mat-toolbar button {
  margin: 0.5em;
  border-radius: 2em;
}
